################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/worksamples/TollCalculator/TollCalculator/obj
/worksamples/TollCalculator/.vs/TollCalculator
/worksamples/.vs/worksamples/FileContentIndex
/worksamples/.vs/worksamples/v17
/worksamples/.vs
/.vs/code-test/FileContentIndex
*.wsuo
/.vs/code-test/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/worksamples/TollCalculator/.vs/ProjectEvaluation
/worksamples/TollCalculator/obj/Debug/net8.0
/worksamples/TollCalculator/obj/Release/net8.0
/worksamples/TollCalculator/obj
/worksamples/TollCalculator/bin/Debug/net8.0
/worksamples/UnitTests/obj/Debug/net8.0
/worksamples/UnitTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfo.cs
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfoInputs.cache
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.assets.cache
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.csproj.AssemblyReference.cache
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/worksamples/UnitTests/obj/Debug/net8.0/UnitTests.GlobalUsings.g.cs
/worksamples/UnitTests/obj/project.assets.json
/worksamples/UnitTests/obj/project.nuget.cache
/worksamples/UnitTests/obj/Release/net8.0
/worksamples/UnitTests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/worksamples/UnitTests/obj/Release/net8.0/UnitTests.AssemblyInfo.cs
/worksamples/UnitTests/obj/Release/net8.0/UnitTests.AssemblyInfoInputs.cache
/worksamples/UnitTests/obj/Release/net8.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/worksamples/UnitTests/obj/Release/net8.0/UnitTests.GlobalUsings.g.cs
/worksamples/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
/worksamples/UnitTests/obj/UnitTests.csproj.nuget.g.props
/worksamples/UnitTests/obj/UnitTests.csproj.nuget.g.targets
/worksamples/UnitTests/bin/Debug/net8.0
